In [1]:
import pandas as pd       # pandas library brought in for data prep

df_ireland=pd.read_csv("ireland_production_index.csv")

df_ireland.head(5)

,Unnamed: 0,Value of Production Index in Building and Construction,Volume of Production Index in Building and Construction,Value of Production Index in Building and Construction (Seasonally Adjusted),Volume of Production Index in Building and Construction (Seasonally Adjusted)
0,"Source: Central Statistics Office, Ireland.",NaN,NaN,NaN,NaN
1,2000Q1,143.515,206.820,148.963,216.612
2,2000Q2,153.542,216.692,154.185,218.514
3,2000Q3,162.664,228.747,158.239,220.425
4,2000Q4,163.688,221.786,161.520,218.552

In [2]:
df_ireland.info()     # All column data are floats except the year column, 93 rows and 5 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 5 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   Unnamed: 0                                                                     93 non-null     object
 1   Value of Production Index in Building and Construction                         92 non-null     float64
 2   Volume of Production Index in Building and Construction                        92 non-null     float64
 3   Value of Production Index in Building and Construction (Seasonally Adjusted)   92 non-null     float64
 4   Volume of Production Index in Building and Construction (Seasonally Adjusted)  92 non-null     float64
dtypes: float64(4), object(1)
memory usage: 3.8+ KB

In [3]:
df_ireland.isnull().sum()      # Second row is unnecessary and causing null values to appear

Unnamed: 0                                                                       0
Value of Production Index in Building and Construction                           1
Volume of Production Index in Building and Construction                          1
Value of Production Index in Building and Construction (Seasonally Adjusted)     1
Volume of Production Index in Building and Construction (Seasonally Adjusted)    1
dtype: int64

In [4]:
df_ireland=df_ireland.drop(df_ireland.index[0])     # dropped the second row

df_ireland.head(5)

,Unnamed: 0,Value of Production Index in Building and Construction,Volume of Production Index in Building and Construction,Value of Production Index in Building and Construction (Seasonally Adjusted),Volume of Production Index in Building and Construction (Seasonally Adjusted)
1,2000Q1,143.515,206.820,148.963,216.612
2,2000Q2,153.542,216.692,154.185,218.514
3,2000Q3,162.664,228.747,158.239,220.425
4,2000Q4,163.688,221.786,161.520,218.552
5,2001Q1,167.381,212.485,173.710,222.520

In [5]:
df_ireland=df_ireland.reset_index(drop=True)   # corrected the index of the rows

df_ireland.head(5)

,Unnamed: 0,Value of Production Index in Building and Construction,Volume of Production Index in Building and Construction,Value of Production Index in Building and Construction (Seasonally Adjusted),Volume of Production Index in Building and Construction (Seasonally Adjusted)
0,2000Q1,143.515,206.820,148.963,216.612
1,2000Q2,153.542,216.692,154.185,218.514
2,2000Q3,162.664,228.747,158.239,220.425
3,2000Q4,163.688,221.786,161.520,218.552
4,2001Q1,167.381,212.485,173.710,222.520

In [6]:
df_ireland=df_ireland.rename(columns={'Unnamed: 0':'Time Period'})     # Assigned more appropriate name to first column

df_ireland.head(5)

,Time Period,Value of Production Index in Building and Construction,Volume of Production Index in Building and Construction,Value of Production Index in Building and Construction (Seasonally Adjusted),Volume of Production Index in Building and Construction (Seasonally Adjusted)
0,2000Q1,143.515,206.820,148.963,216.612
1,2000Q2,153.542,216.692,154.185,218.514
2,2000Q3,162.664,228.747,158.239,220.425
3,2000Q4,163.688,221.786,161.520,218.552
4,2001Q1,167.381,212.485,173.710,222.520

In [7]:
df_ireland.describe() #EDA on ireland production dataset

,Value of Production Index in Building and Construction,Volume of Production Index in Building and Construction,Value of Production Index in Building and Construction (Seasonally Adjusted),Volume of Production Index in Building and Construction (Seasonally Adjusted)
count,92.000000,92.000000,92.000000,92.000000
mean,162.936978,173.617728,162.751663,173.523239
std,71.733896,86.325148,71.031271,85.896397
min,67.164000,69.292000,71.680000,73.445000
25%,103.144250,100.035750,102.071750,101.770250
50%,153.168000,140.020500,153.175000,138.767500
75%,198.932500,230.688250,194.994250,232.285250
max,349.938000,371.034000,341.886000,360.124000

In [8]:
df_ireland.duplicated().sum()            # Validated no duplicate data

0